<ul>
<li *ngFor='let message of (service.messages | async)' class="message ng-animate">
  {{ message.index }}
  <button md-icon-button (click)="viewAtRevision(message)"><md-icon mdTooltip="View this revision">visibility</md-icon></button>
  <button disabled md-icon-button><md-icon mdTooltip="Undo (not implemented yet)">undo</md-icon></button>
   <md-icon *ngIf="!message.successful" mdTooltip="{{message.errorMessage}}">error</md-icon>
   <md-icon *ngIf="message.successful" mdTooltip="applied successfully">done</md-icon>
  {{ messageDescription(message.message) }}
</li>
</ul>
