.message {
    border: 1px solid;
    background-color: lightgray;
    padding: 3px;
    border-radius: 5px;
    margin: 2px;
}
.message.ng-enter {
    opacity: 0;
    height: 0px;
    background-color:Lime;
    transition: all 1.5s ease;
}
.message.ng-enter-active {
    background-color: lightgray;
    height: auto;
    opacity: 1;
}

.mat-icon-button {
    width:  auto;
    height: auto;

}