  <div *ngIf="!(state | async)">
    Loading...
  </div>
  <div *ngIf="(state | async)">
    <md-tab-group>
      <md-tab *ngFor="let player of seats"> 
        <ng-template md-tab-label>
          {{ player }}
        </ng-template>
        <div class="table">

    <button md-icon-button (click)=addArea(player)>
    <md-icon>add</md-icon>
    </button>
    <div class='wrapper' *ngFor='let area of (state | async).playerAreas(player)'>
      <app-area [area]="area" 
      (cardClick)="openCardView($event)"
      (shuffleArea)="shuffle($event)"
      ></app-area>
    </div>
  </div>
      </md-tab>
  </md-tab-group>
<div class="table">
<div class='wrapper' *ngFor='let area of (state | async).commonAreas()'>
      <app-area [area]="area" (cardClick)="openCardView($event)"></app-area>
</div>

  <h3>Messages:</h3>
  <app-message-log>
    This is the message log
  </app-message-log>
  <h3>GameState</h3>
  <code>
  {{ state | async | json }}
  </code>
  </div>
</div>