<md-menu #areamenu="mdMenu">
    <button md-menu-item (click)="fireShuffleEvent()"> Shuffle </button>
  </md-menu>

<span class="title" >{{area.name}} 
  <button md-icon-button (click)="openAreaMenu()" [mdMenuTriggerFor]="areamenu"><md-icon>arrow_drop_down</md-icon></button>
  </span>
<div class='area' 
[attr.data-area-id]="area.id"
[dragula]='"nested-bag"' 
>
    <div *ngFor='let card of getVisibleCards();trackBy:cardID; let i = index' class="card" 
    [attr.data-card-id]="card.id"
    [attr.data-card-index]="i"
    [ngStyle]="card | cardStyle: i: area"
    (click)="fireCardClick(card)"
    >
      <app-card [card]="card"></app-card>
  </div>
</div>